.ciclesTitle {
  background-color: #28eca5;
  width: fit-content;
  font-weight: 900;
}

.circleCicle {
  width: 20px;
  height: 20px;
  align-items: flex-end;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #ff5959;
}
