.characterTittle {
  background-color: #49a6fc;
  border: solid 3px black;
  font-weight: 900;
  border-radius: 0.5rem;
}

.searchBox {
  position: relative;
  display: flex;
  height: 70px;
  padding: 2px 4px 2px 16px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #121213;
  border-radius: 100px;
  background-color: #fff;
  text-decoration: none;
  //box-shadow: 5px 5px #888888;
}

.inputSearch {
  height: 40px;
}

.pinkCircle {
  background-color: #e964bb;
}
